@font-face {
    font-family: 'Ubuntu-italic';
    src: url('/fonts/Ubuntu-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: small;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(0.5turn, #bdd31c63, #bdd31c63, #344018);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    overflow-x: hidden;
}

header {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 5px;
    text-shadow: 5px 5px 10px rgba(9, 233, 13, 0.939);
    width: 100%;
    font-family: 'Ubuntu-italic', sans-serif;
    letter-spacing: 10px;
}

select {
    background-color: rgb(163, 239, 163);
    color: #206b0d;
    text-align: center;
    min-height: 50px;
}

select:hover {
    cursor: pointer;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 5px;
}

article {
    transition: transform 0.3s ease;
    border: 3px double black;
    background-color: floralwhite;
    width: 200px;
    border-radius: 6px;
    box-shadow: green 5px 5px 10px;
    text-align: center;
}

img {
    border-radius: 40%;
    border: 5px double greenyellow;
    filter: grayscale(.8);
}

footer {
    overflow: hidden;
    color: white;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5px;
    & p {
        width: 90%;
    }
}

button {
    border: 1px solid #206b0d;
    padding: 3px;
    margin: 1px;
    background-color: rgb(163, 239, 163);
    color: #206b0d;
    text-align: center;
    cursor: pointer;
    min-height: 50px;
}

button[disabled] {
    display: none;
}

button:hover {
    cursor: pointer;
    background: #218e1a;
    color:#daf7c4;
}

p {
    margin: 3px;
}

a {
    text-decoration: none;
    color: #a2d331;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    & li{
        margin:0px;
        padding:0px;
    }
}
dd{
    margin:0px;
    padding:0px;
}
