.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0,0.6);
    width:100vw;
    height:100vh;
}

.loading-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.loader-circle {
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animate-spin {
  animation: spin 1s linear infinite;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}