#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: default;
    width: 100%;
}

#content {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

.load-card {
    position: absolute;
    top: 25%;
    left: 50%;
}

#random-users {
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 20px;
}

.onError {
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 50px;
    text-align: center;
}

/* .onLoading {
    font-size: 42px;
    padding: 100px;
} */