.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
    position:absolute;
    top: 30%;
    left: 50%;
}

.loading-text {
  font-size: 18px;
  font-weight: bold;
}
.loader-circle {
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animate-spin {
  animation: spin 1s linear infinite;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}