.sidebar {
    background: linear-gradient(0.5turn, #bdd31c63, #bdd31c63, #344018);
    padding: 5px;
    display:flex;
    justify-content: center;
}

.sidebarItems {
    overflow:auto;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#customInput {
    font-size: 18px;
    width: 100%;
    background-color: rgb(163, 239, 163);
    color: #206b0d;
    text-align: center;
    height: 50px;
}

.custom-number-buttons{
    display:flex;    
    flex-direction: column;
    align-items: "center";
    justify-content: "center";
    width: 75%;
    height: 100%;
}