.userCard:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.userCard {
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
