
main{
    background-color:black;
}
header{
    background-color:burlywood;
}
section, footer{
    background-color:darkgray;
}
article{
    background-color: floralwhite;
}
.onError{
    background-color:red;
    color:white;
    font-size:24px;
    padding:50px; 
    text-align: center;
}
img {
    filter: grayscale(.8);
}