.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: default;
    min-width: 100%;
}

.content {
    flex-grow: 1;
    display: flex;
    overflow:hidden;
}

#randomm-users{
    flex:1;
    overflow-y:auto;
}

.onError {
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 50px;
    text-align: center;
}

.onLoading {
    font-size: 42px;
    padding: 100px;
}

#paginator-section{
    display: flex;
    justify-content: end;
    margin: 4%;
    min-height:35px;
    max-height:35px;
}