body {
    margin: 0 auto;
    
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: default;
    min-width: 100%;
}

.sidebar {
    width: 130px;
    background: linear-gradient(0.5turn, #bdd31c63, #bdd31c63, #344018);
    padding: 20px;
}

.sidebarItems {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 120px;
}

.content {
    flex-grow: 1;
    display: flex;
}

select:hover {
    cursor: pointer;
}

select {
    background-color: rgb(163, 239, 163);
    color: #206b0d;
    text-align: center;
}

main {
    flex-grow: 1;
    background: linear-gradient(0.5turn, #bdd31c63, #bdd31c63, #344018);
    flex-direction: column;
}

header {
    background: linear-gradient(0.5turn, #a2d331, #daf7c4, #bdd31c63);
    color: black;
    text-align: center;
    padding: 10px;
    text-shadow: 5px 5px 10px black;
    width: 100%;
}

.onError {
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 50px;
    text-align: center;
}

.onLoading {
    font-size: 24px;
    font-style: bold;
    padding: 50px;
    text-align: center;
}

input {
    max-width: 40px;
    background-color: rgb(163, 239, 163);
    color: #206b0d;
    text-align: center;
}

section {
    display: flex;
    flex-wrap:wrap; 
    justify-content: center;
    gap: 10px;
    padding: 20px;
    width: 100wv;
}

img {
    border-radius: 40%;
    border: 5px double greenyellow;
}

article {
    transition: transform 0.3s ease;
    border: 3px double black;
    background-color: floralwhite;
    width: 250px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: green 5px 5px 10px;
    text-align: center;
}

article:hover {
    transform: scale(1.1);
}

img {
    filter: grayscale(.8);
}

footer {
    text-align: center;
    background: linear-gradient(0.5turn, #344018, #000000, #5e63339e);
    color: white;
    padding: 20px;
    width: 100%;
}

button:hover {
    cursor: pointer;
}

button {
    border: 1px solid #206b0d;
    padding: 10px;
    margin: 1px;
    background-color: rgb(163, 239, 163);
    color: #206b0d;
    text-align: center;
    cursor: pointer;
}

p {
    margin: 10px;
}

a {
    text-decoration: none;
    color: #a2d331;
}

ul {
    list-style: none;
}

@media (max-width: 414px) {
    .container {
        width: 414px;
    }
}